<launch>
    <node pkg="fields2cover_ros" type="visualizer_node" name="visualizer" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fields2cover_ros)/launch/demo.rviz"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
</launch>

